
.professional-experience-container {
    border-radius: 5px;
    display: grid;
     gap: 30px; 
    margin-bottom: 40px;
    margin: 0px 15px;
    
}

.professional-experience-container {
    background-color: silver;
    border: 1px solid;
    padding: 1px;
    border-radius: 5px;

   
}

.activity {
    margin-left: 40px;
}
