.professional-experience-container {
    background-color: silver;
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    display grid: 10px;
    gap: 30px; 
    margin-top: 30px;
}

.activity {
    margin-left: 40px;
}
